header {
  background-color: azure;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  vertical-align: middle;
}

nav {
  background-color: azure;
  background-color: aliceblue;
  align-content: center;
  img {
    height: 20px;
  }
  a {
    padding: 15px;
    vertical-align: middle;
  }
  ul {
    vertical-align: middle;
    display: inline;
    text-align: right;
    li {
      display: inline;
      padding: 15px;
    }
  }
}

.cabeza {
  grid-area: header;
  h1 {
    color: azure;
    margin: auto;
    line-height: 120px;
    font-size: 60px;
    display: inline;
    font-family: "Roboto";
    font-weight: 700;
  }
  h2 {
    color: azure;
    margin: auto;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 400;
    word-spacing: normal;
  }
}

header.cabeza {
  background-image: url("../../Imagenes/Banner.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}
